<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <div id="main">
    <div class="images">
      <img src="/images/1/1.avif" alt="">
    </div>
    <div class="left">
      <img src="/images/1/Travelholic.png" alt="">
    </div>
    <a href="/1" style="text-decoration: none;">
      <div class="right">
        <h1>EXPLORE MORE</h1>
        <i class="ri-arrow-right-line"></i>
      </div>
    </a>
  </div>
</body>

</html>