<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/landingpage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="main">
        <div class="images">
            <div class="nav">
                <div class="cnt1">
                    <h4>TRAVEL</h4>
                </div>
                <div class="menu_page">
                    <h3 id="cross">X</h3>
                    <div class="cnt3">
                        <a href="">
                            <ul>About</ul>
                        </a>
                        <a href="">
                            <ul>Cities</ul>
                        </a>
                        <a href="">
                            <ul>Services</ul>
                        </a>
                        <a href="">
                            <ul>Contact</ul>
                        </a>
                    </div>

                </div>
                <div class="cnt2">
                    <a href="">About</a>
                    <a href="">Cities</a>
                    <a href="">Services</a>
                    <a href="">Contact</a>
                    <i id="heart" class="ri-heart-line"></i>
                    <i id="user" class="ri-user-fill"></i>
                    <div class="logout">
                        <a href="/logout">
                            logout
                        </a>

                    </div>
                    <i id="menu" class="ri-menu-line"></i>
                </div>
            </div>
            <div class="qutes">
                <h1>A journey of a thousand mile begins</h1>
                <h1>with a single Walk</h1>

            </div>
            <div class="scroll">
                <h3>Scroll Down</h3>
                <div class="scroll1">
                    <i class="ri-arrow-down-s-line"></i>
                    <i class="ri-arrow-down-s-line"></i>
                    <i class="ri-arrow-down-s-line"></i>
                </div>


            </div>
            <div class="social_media">
                <i class="ri-whatsapp-line"></i>
                <i class="ri-instagram-line"></i>
                <i class="ri-mail-line"></i>
            </div>

        </div>
    </div>

    <div id="main2">
        <div id="input">
            <input type="text" placeholder="Search For cities">
        </div>

        <div class="flex">
            
        </div>


        <script src="/javascripts/landingpage.js"></script>

</body>

</html>