<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="form-container">
        <form action="/login" method="post">
            <h3>LOGIN</h3>
            
            <input type="text" name="username" placeholder="Username">

            
            <input type="text" name="password" placeholder="Password">
            <input type="submit" value="Login">
            <div class="or">
                <h4>OR</h4>
            </div>
            <div class="circle">
                <div class="circle1">
                    <img src="/images/1/google.webp" alt="">
                </div>
                <div class="circle1">
                    <img src="/images/1/twitter.jpg" alt="">
                </div>
                <div class="circle1">
                    <img src="/images/1/facebook.jpg" alt="">
                </div>
            </div>

            <h6>Or Logedin using <a href="/signup">SignUp?</a></h6>
        </form>
   
    </div>
</body>

</html>